@import 'styles/shared';

.header__wrapper {
  position: fixed;
  border-bottom: 1px solid $indigo;
  min-width: 100%;

  background-color: $white;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
