@import 'styles/shared';

.register__wrapper {
  min-height: 100vh;
  background-color: tomato;

  @media screen and (min-width: $desktop) {
    background: url('../../images/Registration-Views.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
  }
}

.register__title {
  padding-top: 70px;
  margin-bottom: 30px;
  text-align: center;
  color: $white;
}

.form {
  max-width: 320px;
  margin: 0 auto;

  @media screen and (min-width: $desktop) {
    margin: 0;
  }

  &.form--end {
    margin-left: auto;
  }
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: 900;
  color: $white;

  transition: color $timing-function;

  &:hover,
  &:focus {
    color: $indigo;
  }
}

.login__wrapper {
  min-height: 100vh;
  background-color: wheat;

  @media screen and (min-width: $desktop) {
    background: url('../../images/Login-Views.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
  }
}

.input {
  border-radius: 5px;
  border: 3px solid $white;
  padding: 10px;

  font-size: 18px;

  color: $white;
  background-color: transparent;

  &::placeholder {
    color: $grey;
    opacity: 0.5;
  }
}

.visibility__icon {
  & svg {
    position: absolute;
    bottom: 10px;
    right: 15px;
    height: 25px;
    width: 25px;

    color: $white;
  }
}
