@import 'styles/shared';

.register__wrapper {
  height: 100vh;
  background-color: pink;

  @media screen and (min-width: $desktop) {
    background: url('../../images/Registration-Views.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.register__title {
  padding-top: 150px;
  text-align: center;
  color: $white;
}

.form {
  width: 320px;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  color: $white;
}

.register__button {
  color: $indigo;
  padding: 3px 10px;
  border-radius: 5px;
  border: 1px solid $indigo;
  padding: 5px 10px;
}

.login__wrapper {
  height: 100vh;
  background-color: wheat;

  @media screen and (min-width: $desktop) {
    background: url('../../images/Login-Views.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

input {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}
