@import 'styles/shared';

.homeviews {
  background-color: teal;

  @media screen and (min-width: $desktop) {
    background: url('../../images/Home-Views.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.homeviews__wrapper {
  height: 100vh;
}

.title {
  padding-top: 50%;
  font-weight: 500;
  font-size: 20px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    font-size: 38px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 15%;
    font-size: 48px;
  }
}
