@import 'styles/shared';
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  background-color: $white;
  color: $indigo-accent;
  line-height: 1.5;
  font-family: $primary-font-stack;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-top: 0;
}
