@import 'styles/shared';

.phonebook__section {
  padding: 50px 0;
  height: 100vh;

  background-image: url('http://bgfons.com/upload/paper_grid_PNG5421.png');

  @media screen and (min-width: $desktop) {
    background: url('../../images/Phonebook-Views.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
