@import 'styles/shared';

.phonebook__section {
  padding: 40px 0;
  min-height: 100vh;
  text-align: center;
  margin: 0;

  background: url('../../images/paper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
}
