@import 'styles/shared';

.link {
  display: inline-block;
  text-decoration: none;
  padding: 15px 10px;
  font-weight: 700;
  color: $indigo-accent;
  font-size: 12px;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    padding: 12px;
  }
}

.activeLink {
  color: $indigo;
}
